<a href="products?sort=desc">Precio descendente</a>
<a href="products?sort=asc">Precio ascendente</a>

<h3>Lista de productos</h3>

  <nav>
    <ul>
        <h4>Filtrar</h4>
      <li><a href="products?page={{page}}">Todas</a></li>
      <li><a href="products?page={{page}}?category=Smartphone">Smartphone</a></li>
      <li><a href="products?page={{page}}?category=TV">Televisores</a></li>
    </ul>
  </nav>

<div>
    <p>
        {{#each products}}
        <div class="contProduct">
            <p>Name: {{name}}</h2>
            <p>Description: {{description}}</p>
            <p>Price: {{price}}</p>
            <p>Category: {{category}}</p>
            <img>Image: {{thumbnail}}</img>
            <p>stock: {{stock}}</p>
            <a href="product/{{_id}}"> Ir al producto</a>
        </div>
        {{/each}}
    </p>
</div>

{{#if hasPrevPage}}
<a href="/products?page={{prevPage}}"><button>Preview</button></a>
{{/if}}

{{page}}

{{#if hasNextPage}}
<a href="/products?page={{nextPage}}"><button>Next</button></a>
{{/if}}


